<main>
  <form class="formulario" (ngSubmit)="procesar()">
    <h1>Inicia sesión</h1>
    <div class="formulario--casilla">
      <label for="dni">Dni (sin letra):</label>
      <input
        id="dni"
        name="dni"
        type="text"
        [formControl]="dni"
      >
    </div>

    <div class="alert alert-danger" [hidden]="dni.valid || dni.pristine">
      <div class="row">
        <div class="col">
      <span *ngIf="dni.errors?.['required']">
        El campo DNI es obligatorio
      </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
      <span *ngIf="dni.errors?.['invalidLength']">
        El DNI debe tener 8 caracteres
      </span>
        </div>
      </div>
    </div>




    <div class="formulario--casilla">
      <label for="password">Contraseña:</label>
      <input
        id="password"
        name="password"
        type="password"
        [formControl]="password"
      >
    </div>

    <div class="alert alert-danger" [hidden]="password.valid || password.pristine">

    </div>

    <input
      type="submit"
      value="INICIAR SESIÓN"
      class="formulario--submit"
    >
  </form>
</main>

