.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0 15px 20px;

}

.title-btn {
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  height: 35px;
  background-color: #ff7676;
  color: white;
}

.dropbtn {
  border: none;
  border-radius: 5px;
  background-color: #56a8f6;
  padding: 8px;
  color: white;
  font-size: medium;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

/* Estilos para el contenido del botón desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;

}

/* Estilos para los elementos dentro del botón desplegable */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace cuando se pasa el mouse sobre él */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Muestra el contenido del botón desplegable al pasar el mouse sobre él */
.dropdown:hover .dropdown-content {
  display: block;
}
